{% extends 'anime/base.html' %} {% block content %}
<ul class="list">
    <li>
        <div class="card">
            <img src="media/anime/test.png" alt="">
            <h2>El castillo bagabundo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ipsam corrupti fugit magnam aliquam asperiores vero alias animi dolorum velit.</p>
        </div>
    </li>
    
    <li>
        <div class="card">
            <img src="media/anime/test.png" alt="">
            <h2>El castillo bagabundo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ipsam corrupti fugit magnam aliquam asperiores vero alias animi dolorum velit.</p>
        </div>
    </li>

    <li>
        <div class="card">
            <img src="media/anime/test.png" alt="">
            <h2>El castillo bagabundo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ipsam corrupti fugit magnam aliquam asperiores vero alias animi dolorum velit.</p>
        </div>
    </li>

    <li>
        <div class="card">
            <img src="media/anime/test.png" alt="">
            <h2>El castillo bagabundo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ipsam corrupti fugit magnam aliquam asperiores vero alias animi dolorum velit.</p>
        </div>
    </li>
</ul>
{% endblock %}