{% extends 'anime/base.html' %} {% block content %}

<article class="home">
    <h1>Anime App</h1>
    <p>List of Animes</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, dolorum dignissimos. Vero repudiandae architecto perspiciatis, placeat, iusto accusamus inventore corrupti possimus rem illum delectus optio. Enim, quis. Error, voluptate porro.</p>
</article>

<h2 class="team-title">Develop Team</h2>
<div class="team">
    <div class="person">
        <img src="media/anime/jose.png" alt="">
    </div>
    
    <div class="person">
        <img src="media/anime/chanel.png" alt="">
    </div>

    <div class="person">
        <img src="media/anime/eleazar.png" alt="">
    </div>
</div>
{% endblock %}