<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Books App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/index.css' %}">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/books/home">Home</a></li>
            <li><a href="/books/books">Books</a></li>
            <li><a href="/books/clientes">Clientes</a></li>
            <li><a href="/books/prestamos">Adeudos</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>