{% extends 'videogames/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'videogames/css/home.css' %}" rel="stylesheet">
    <h1>Todos los juegos</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for videojuego in videojuegos %}
        <div class="col mb-4">
            <div class="card h-100">
                <img src="media/{{videojuego.image}}" style="max-height: 200px;" alt="...">
                <div class="card-body" >
                  <h5 class="card-title">{{videojuego.title}}</h5>
                  <p class="card-text">{{videojuego.subtitle}}</p>
                </div>
                <div class="card-footer">
                  <a href="{% url 'detail' %}">Ver más....</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}