{% extends 'videogames/base.html' %}
{% load static %}
{% block content %}
    <h1>Inicio</h1>
    <div class="card-group">
        {% for videojuego in videojuegos %}
            <div class="card">
                <img src="media/{{videojuego.image}}" height="250px" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{videojuego.title}}</h5>
                <p class="card-text">{{videojuego.content}}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{videojuego.updated}}</small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}