<h1>SVM tu mejor opción</h1>

<ul>
    <li><a href="/">Portada</a></li>
    <li><a href="/about/">Peliculas</a></li>
    <li><a href="/contact/">Categorias</a></li>
    <li><a href="/ayuda/">Ayuda</a></li>
</ul>

<h2>Bienvenidos</h2>

<p>Portada</p>

<div class="card" style="width: 18rem;">
    <img src="https://es.web.img3.acsta.net/c_310_420/pictures/22/02/18/10/20/5195258.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Descripción</h5>
      <p class="card-text">En la trama, Sonic une fuerzas con Tails para evitar que el Dr. Robotnik y Knuckles encuentren una poderosa esmeralda que tiene el poder de crear y destruir civilizaciones.</p>
      <a href="#" class="btn btn-primary">Sonic 2</a>
    </div>
  </div>