{% extends 'seriesByRVY/base.html' %} {% block content %}

<div class="home">
    <div class="welcome">
        <h1>Series By RVY</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt modi natus perspiciatis pariatur, provident, qui ipsam quidem ad dolore molestias, eaque repellat dolorem facere.</p>
    </div>

    <article>
        <h2>View the Series list</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </article>
</div>

<h3>Famoues Series</h3>
<div class="famous-series">
    <div class="serie">
        <img src="media/seriesByRVY/theOffice.jpg" alt="">
    </div>
    <div class="serie">
        <img src="media/seriesByRVY/theOffice.jpg" alt="">
    </div>
    <div class="serie">
        <img src="media/seriesByRVY/theOffice.jpg" alt="">
    </div>
    <div class="serie">
        <img src="media/seriesByRVY/theOffice.jpg" alt="">
    </div>
    <div class="serie">
        <img src="media/seriesByRVY/theOffice.jpg" alt="">
    </div>
    <div class="serie">
        <img src="media/seriesByRVY/theOffice.jpg" alt="">
    </div>
</div>
{% endblock %}