<ul>
    <li>
        <div class="serie-card">
            <div class="serie-image">
                <img src="" alt="">
            </div>
            <div class="title">
                <h2>Title of serie</h2>
            </div>
            <div class="ranking">
                <img src="" alt="">
                <p>4.5</p>
            </div>
        </div>
    </li>

    <li>
        <div class="serie-card">
            <div class="serie-image">
                <img src="" alt="">
            </div>
            <div class="title">
                <h2>Title of serie</h2>
            </div>
            <div class="ranking">
                <img src="" alt="">
                <p>4.5</p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="serie-card">
            <div class="serie-image">
                <img src="" alt="">
            </div>
            <div class="title">
                <h2>Title of serie</h2>
            </div>
            <div class="ranking">
                <img src="" alt="">
                <p>4.5</p>
            </div>
        </div>
    </li>
</ul>