{% extends 'Musica/base.html' %}

 {% block title %} SPOTI UTT - Blog {% endblock%}

{% block banner%} 
<section class="banner">
    <div class="banner-content">
        <h1>Bienvenido a SPOTI UTT</h1>
    </div>
</section>     
{% endblock%}

{% block blog%}
<div class="title-cards">
    <h2 id="pix">Agrega tus canciones</h2>
    
  </div>
<div class="container-tarjeta">

    <div class="tarjetab">
      <figure>
        <img
          src="https://i.ytimg.com/vi/wBL1fa_8iOo/maxresdefault.jpg"
          alt="images"
        />
      </figure>
      <div class="contenido-tarjetas">
        <h3>Con vos</h3>
        <h4>Los Caligaris</h4>
        <p>Quiero morir con vos
          de tu vida hacer siempre la mejor canción</p>
        <button class="button button1">Editar</button>
        <button class="button button1">Eliminar</button>
      </div>
    </div>
    <div class="tarjetab">
      <figure>
        <img
        src="https://s.mxmcdn.net/images-storage/albums5/0/9/5/1/7/5/37571590_500_500.jpg"
        alt="images"
      />
      </figure>
      <div class="contenido-tarjetas">
        <h3>El fin del Mundo</h3>
        <h4>LA LA LOVE YOU</h4>
        <p>Y tú bailando, bailando, bailando
          Y yo llorando, llorando por ti</p>
        <button class="button button1">Editar</button>
        <button class="button button1">Eliminar</button>
      </div>
    </div>
    <div class="tarjetab">
      <figure>
        <img src="https://i.musicaimg.com/letras/max/2574157.jpg" alt="">
      </figure>
      <div class="contenido-tarjetas">
        <h3>Ojos marrones</h3>
        <h4>Lasso</h4>
        <p>Ella sí se lleva bien con mis amigos
          Nunca discutimos, es lo que siempre he querido</p>
        <button class="button button1">Editar</button>
        <button class="button button1">Eliminar</button>
      </div>
    </div>
  </div>

  <!-- fin de tarjetas  -->
{% endblock%}